<div class="city ui address search  selection  dropdown labeled"  style="margin-left:3%;width: 210px!important;min-width: 0!important;min-height: 30px!important;height:30px;padding-top: 7px!important;">
  <i class="dropdown icon"></i>
  <span class="text default">市</span>
  <div class="menu">
    <div ng-repeat="city in cities" data-value="{{city.code}}"  class="item" ng-bind="city.name"></div>
  </div>
</div>

<div class="area address ui search selection  dropdown labeled"  style="margin-left:3%;width: 120px!important;min-width: 0!important;min-height: 30px!important;height:30px;padding-top: 7px!important;">
  <i class="dropdown icon"></i>
  <span class="text default">区/县</span>
  <div class="menu">
    <div ng-repeat="area in areas" data-value="{{area.code}}" class="item" ng-bind="area.name"></div>
  </div>
</div>
